@import url('root.css');

#hero {
    background-color: var(--main-bg-color2);
    padding: 3rem;
    color: var(--main-text-color2);
    height: 85vh;
}

.hero-container {
   height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.hero-description {
    padding: 1rem 0;
    font-size: 1.5rem;
}

.hero-subdescription {
    padding: 2rem 0;
    width: 50%;
}
.button-container {
    display: flex;
    padding: 1rem 0;
}
.button-container > * {
    margin-right: 1rem;
}