@import url('root.css');
header,
footer {
    background-color: var(--main-bg-color2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
ul {
    display: flex;
    list-style: none;
    align-items: center;
}
ul > * {
    margin-right: 1rem;
}
.logo {
    width: 5rem;
    height: 5rem;
    background-color: black;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    color: var(--main-bg-color2);
}
