:root {
    --main-text-color: #ffffff;
    --main-text-color2: #1C1018;
    --main-bg-color: #094D92;
    --main-bg-color2: #dedede;
    --main-bouton-color: #117eec;
    --main-bouton-hover-color: #0965c1;
    --main-bouton-color2: #1cbcdc;
}