* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #818181;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

.button-primary {
    background-color: #ffffff;
    color: #000000;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    width: fit-content;
    transition: ease-in-out 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
.button-primary:hover {
    background-color: #e8e8e8;
    transition: ease-in-out 0.2s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
    
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about,
#gameplay {
    padding: 3rem;
}

.about-container, 
.game-container,
.gameplay-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.about-game,
.game-image,
.gameplay-image {
    width: 15rem;
    height: 15rem;
    background-color : black;
}

.about-content {
    width: 40rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game,
#donation {
    padding: 3rem;
    background-color: #1f1f1f6d;
}
.game-content {
    width: 60vw;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameplay-content {
    width: 60vw;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.gameplay-content > * {
    margin-bottom: 1rem;
}



.donation-content {
    width: 30rem;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.donation-card {
    padding: 0 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.donation-card > * {
    margin-left: 0.25rem;
}
.tier-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.tier-content {
    width: 10rem;
    height: 10rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff;
}

.tier-container > * {
    margin-left: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15rem;
    height: 20rem;
    padding: 20px 1px;
    margin: 10px 0;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
    border-radius: 0.75rem;
    background-color: #6B6ECC;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
  }
  
  .content {
    padding: 20px;
  }
  
  .content .price {
    color: white;
    font-weight: 800;
    font-size: 50px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
  }
  
  .content .description {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    font-size: 14px;
  }
  
  .content .title {
    font-weight: 800;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.64);
    margin-top: 10px;
    font-size: 25px;
    letter-spacing: 1px;
  }
  
  button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: none;
    outline: none;
    color: rgb(255 255 255);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(33 150 243);
    border-radius: 0.5rem;
    width: 90%;
    text-shadow: 0px 4px 18px #2c3442;
  }
  
  

